body {
  text-align: center;
  background: #e2bece;
}
body {
  text-align: center;
  color: #660533;
}
h1 {
  font-weight: bolder;
}
h2 {
  font-weight: normal;
}
#email {
  border-radius: 5px;
  color: #300036;
}
#pswd {
  border-radius: 5px;
  color: #300036;
}
.btn {
  color: #fff;
  background-color: #660533;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover {
  color: #660533;
  background-color: #fff;
}
img {
  display: block;
  margin: 0 auto;
  padding: 10px;
  border: 2px solid rgb(46, 46, 100);
  border-radius: 10px;
}
